@model ProdutoModel

<h3>@ViewData["Titulo"]</h3>

<form action="Excluir" method="post">
    <div class="form-horizontal">
        <hr />

        <input type="hidden" asp-for="Id" />
        
        <div class="form-group">
            <label asp-for="NomeDoProduto" class="col-md-2">Nome do Produto</label>
            <div class="col-md-10">
                <input type="text" asp-for="NomeDoProduto" maxlength="20" class="form-control" disabled/>
                @Html.ValidationMessageFor(p => p.NomeDoProduto, null, new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Excluir" class="btn btn-info" />
        </div>
    </div>
</form>